[app]
env=debug
host=http://localhost:8888
name=vBlog
pidFile=/var/tmp/v-blog.pid
logFile=/var/logs/v-blog.log
debugLogFile=/var/logs/v-blog-debug.log

[dir]
uploadImage=./upload/images

[mysql]
host=127.0.0.1
port=3306
user=root
password=123456
database=v-blog
charset=utf8mb4